head
  title= page.title
  meta(charset='utf-8')

  meta(name='viewport', content='width=device-width, initial-scale=1')

  each item in pugStyles
    if item.inline
      each p in item.path
        //- style(type='text/css')
        - var x = pugDirs.dev + item.src
        div= p
        div.alert.alert-success= x
        include p

    else if item.attributes
      link(item.attributes)

    else 
      link(href= item.src, rel='stylesheet')

  if config.ide.phpstorm
    link(href='node_modules/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  
