doctype html
html(lang= locale)

  include ../../block/__open.pug

  body

    include ../../block/header.pug

    div.container
      h1= page.title

    include ../../block/footer.pug
  
  include ../../block/__close.pug